.tribunal-wrapper {
  min-height: 100vh;
}

.sidebar-wrapper {
  width: 300px;
}

.content-wrapper {
  flex-grow: 1;
  background-color: #f8f9fa;
}

.tribunal-table thead th {
  background-color: maroon;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    display: none;
  }

  .content-wrapper {
    width: 100%;
    padding: 1rem !important;
  }
}
