.sidebar-button {
  border: 2px solid #8a1f2d;
  border-radius: 12px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  text-align: center;
  white-space: normal;
  transition: all 0.3s ease;
}

.sidebar-button:hover {
  background-color: #8a1f2d;
  color: white !important;
}
